{
	admin 127.0.0.1:2019
	email {$FOXOS_ACME_EMAIL}
	skip_install_trust
	servers {
		protocols h1 h2
	}
}

import /etc/caddy/runtime/*.caddy

{$FOXOS_DOMAIN} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		-Server
	}

	handle_path /_foxos/apps/foxos-adoption-lab/* {
		header X-FoxOS-Route "foxos-adoption-lab"
		reverse_proxy foxos-route-adoption-lab:80
	}

	handle_path /_foxos/migrations/stateful-cutover/* {
		header X-FoxOS-Route "foxos-stateful-cutover"
		reverse_proxy foxos-route-stateful-cutover:8090
	}

	handle {
		reverse_proxy foxos:8080
	}
}

https://127.0.0.1 {
	tls internal
	reverse_proxy foxos:8080
}
