global
    log stdout format raw local0
    stats socket ipv4@0.0.0.0:9999 level admin
    user haproxy
    group haproxy

defaults
    log global
    timeout connect 5s
    timeout client 1m
    timeout server 1m

resolvers docker
    nameserver embedded 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend public_http
    bind :80
    mode http
    option httplog
    use_backend foxos_http if { req.hdr(host),lower,field(1,:),map(/runtime/routes.map,legacy) -m str foxos }
    default_backend legacy_http

backend foxos_http
    mode http
    server gateway foxos-gateway:80 check resolvers docker init-addr libc,none

backend legacy_http
    mode http
    server bridge foxos-legacy-ingress-bridge:80 check resolvers docker init-addr libc,none

frontend public_https
    bind :443
    mode tcp
    option tcplog
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend foxos_https if { req.ssl_sni,lower,map(/runtime/routes.map,legacy) -m str foxos }
    default_backend legacy_https

backend foxos_https
    mode tcp
    server gateway foxos-gateway:443 check resolvers docker init-addr libc,none

backend legacy_https
    mode tcp
    server bridge foxos-legacy-ingress-bridge:443 check resolvers docker init-addr libc,none
